body {
    font-family: Arial, sans-serif;
    background-color: #d8d5d5;
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    font-weight: 20px;
    text-underline-offset: initial;
}

h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 35px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px ;
    text-align: center;
    background-color: #d8d5d5 ;
    color: #33266e;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease , transform 0.3s ease;
}

.btn:hover {
       background-color: #d8d5d5;
       transform: scale(1.1);
}
